<% content_for :title, "Showing book" %>

<div class="book-container">
  <div class="book-details">
    <%= link_to "Back to Books", books_path %>
    <h1><%= @book.title %></h1>
    <p>Author: <%= @book.author %></p>
    <p>ISBN: <%= @book.isbn %></p>
    
    <div class="book-status">
      Status: 
      <% if @book.available? %>
        <span class="status-available">Available</span>
      <% else %>
        <span class="status-borrowed">Currently borrowed by <%= @book.current_borrowing.user.email %></span>
      <% end %>
    </div>

    <div class="actions">
      <% if @book.available? %>
        <%= button_to "Borrow", borrow_book_path(@book), method: :post, class: "borrow-button" %>
      <% elsif @book.current_borrowing&.user == current_user %>
        <%= button_to "Return", return_book_path(@book), method: :post, class: "return-button" %>
      <% end %>
    </div>
  </div>
</div>
