<% content_for :title, "Showing book" %>

<div class="book-container">
  <div class="book-details">
    <h1 class="book-title"><%= @book.title %></h1>
    
    <div class="book-info">
      <p class="info-text">Author: <%= @book.author %></p>
      <p class="info-text">ISBN: <%= @book.isbn %></p>
      <p class="info-text">
        Status: 
        <span class="<%= @book.available? ? 'status-available' : 'status-borrowed' %>">
          <%= @book.available? ? 'Available' : 'Borrowed' %>
        </span>
      </p>
    </div>

    <div class="button-container">
      <% if @book.available? %>
        <%= button_to 'Borrow Book', borrow_book_path(@book), method: :post, 
            class: "borrow-button" %>
      <% elsif @book.current_borrowing&.user == current_user %>
        <%= button_to 'Return Book', return_book_path(@book), method: :post,
            class: "return-button" %>
      <% end %>
    </div>

    <%= link_to 'Back to Books', books_path, class: "back-link" %>
  </div>
</div>
